<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/slider.css">
</head>
<body>
<!--<iframe src="/admin-header" frameborder="0"></iframe>-->
<div id="header"></div>

<div class="container">
        <img src="images/slide2.png" alt="">
    </div>
<!--<iframe src="/footer" frameborder="0"></iframe>-->


<script src="js/homepage.js"></script>

</body>
</html>
