body {
    font-family: Arial, sans-serif;
    height: 100px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #dff9fb;
    line-height: 3;
}

.group1{
    margin-bottom: 20px;
}

.btn-group1 {
    float: right;
}

.search-option {
    padding: 3px;
    margin-bottom: 10px;
}

#search-input {
    width: 200px;   
    box-shadow: 1px 3px #ccc;
    border-radius: 6px;
}


#search-input:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
}

input[type="text"],
input[type="button"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.table-container {
    max-height: 300px; 
    overflow-y: auto; 
    position: relative; 
    top: 20px;
    padding-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    background-color: #99CCFF;
    color: #000; 
    font-weight: bold; 
    background-color: #99CCFF;
    color: #000;
    font-weight: bold;
    position: sticky;
    top: 0; 
    z-index: 1;
}

.tbody {
    display: block;
}

.tr {
    display: flex;
    
}

.th {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
}


.td {
    flex: 1; 
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
}

a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}

.btn-group{
    margin-top: 50px;
}

button {
    background-color: #dff9fb;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin: 0 4px;
}

button:hover {
    cursor: pointer;
    background-color: #bffaff;
    box-shadow: 2px 3px #8eeef5;
}

.btn-xuly, .btn-sua, .btn-xoa {
    width: 60px;
}

/* CSS cho modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    transition: opacity 0.3s ease; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: scale(0.9); 
    opacity: 0;
    position: relative;
}

.modal-content.show {
    opacity: 1; 
    transform: scale(1); 
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content > h1 {
}

.group {
    display: block;
}

.group-info {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 20px;
}

.group-info > input {
    width: 200px;
    border-radius: 6px;
}

.group-info > input:focus {
    width: 200px;
    border: 0px;
}
.group-info > select {
    padding: 6px;
    width: 200px;
}

.group-btn-modal {
    text-align: center;
} 

.drop-down {
    display: none;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

/* Reponsive */
@media screen and (min-width: 1025px) {
    .thao-tac {
        min-width: 260px;
    }

    .modal-content {
        min-width: 779.01px;
    }
}

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .thead > th:nth-child(6) {
        display: none;
    }


    .td > button {
        margin-bottom: 10px;
    }


    .modal {
        height: 100%;
    }

    .modal-content {
        width: 60%;
        max-width: 432.17px;
        min-width: 432.17px;
    }



    .group-info {
        display: flex;
        justify-content: space-between;
        margin: 0 50px 20px;
    }

    .drop-down-content button:hover {
        background-color: #f1f1f1;
    }

    .drop-down:hover .drop-down-content {
        display: block;
    }

    .material-symbols-outlined {
        cursor: pointer;
    }
}

/* Phone */

@media screen and (max-width: 767px) {
    span {
        font-size: 14px;
    }

    #search-input {
        margin-bottom: 20px;
    }
    
    .btn-group1 {
        float: none;
    }

    .td:nth-child(3) {
        font-size: 12px;
    }

    .th:nth-child(5) {
        margin-right: 24.01px;
    }

    .thao-tac{
        display: none;
    }


    .drop-down {
        position: relative;
        display: inline-block;
    }

    .drop-down-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 20px;
        top: -10px;
    }

    .drop-down-content > button {
        width: 100px;
        margin-bottom: 10px;
    }

    .th, .td {
        font-size: 15px ;
    }

    .modal {
        height: 100%;
    }

    .group-info {
        display: flex;
        justify-content: space-between;
        margin: 0 40px 20px;
    }

    .modal-content {
        min-width: 447.16px;
    }
}